language: cpp
before_install:
  - sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
  - wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -
  - sudo add-apt-repository --yes 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise-3.5 main'
  - sudo add-apt-repository --yes 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise main'
  - sudo apt-get update -qq
  - sudo apt-get install -qq mpich2 libmpich2-3 libmpich2-dev
  - sudo apt-get install -qq g++-4.9 g++-5
  - sudo apt-get install -qq libstdc++-4.9-dev libstdc++-5-dev
  - sudo apt-get install -qq clang-3.5
branches:
  only:
    - feature-barnes-hut-LET
script: bash ./test.sh
